body{
    background-color: hwb(120 1% 73% / 0.568);
    font-style: italic;
    text-align:center;
}
h1 {
    color:rgb(228, 217, 193);
    font-style: italic;
}
h2 {
    color:rgb(243, 234, 209);
    font-style: italic;
}
p {
    color: azure;
    font-style: italic;
    font-size: x-small;
}